/* Global Settings */

h1{
  display: block;
  font-size: 2em;
  font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    font-weight: bold;
    font-size: 1.17rem;
}

h4 {
    display: block;
    font-size: 1em;
    font-weight: bold;
}

html {
  font-size:16px;
  font-family:sans-serif;
}

a {
  color:dodgerblue;
  text-decoration:none;
}

.back-grey{
background-color:lightgray;
}

p{
  color:grey;
}
/* Header and Nav Area */
.banner .bold{
  font-weight:bold;
}

.lightgrey{
  color:grey;
}
  .banner{
    width: 100%;
    background-color: white;
    display:flex;
    align-items:center;
    height: 64px;
    position:fixed;
  }

  .leftnav{
    flex-grow:1;
  }

  .leftnav{
    display:flex;
    align-items: center;
    padding-left:24px;
  }

  .mobile{
    display:none;
  }

  .banner nav a{
    padding-right:16px;
    color:black;
  }
  .banner nav{
    padding-right:8px;
  }

/* Content Area */

.topdivpush{
  height:64px;
}

/* First Content Area */
.learn{
  display:flex;
  background-color: lightgray;
}

.rightlearn{
display:flex;
flex-direction: column;
justify-content: center;
margin-right:20px;
}

.rightlearn h2{
padding-top: 32px;
padding-bottom:24px;
}

.learn img{
  width:60%;
  padding: 32px 24px;
}

.button{
display:flex;
justify-content: center;
padding:8px 0;
background-color: gray;
color:white;
}

/* Second Content Area */
.desktop-second{
  display:flex;
  flex-direction:row;
  width:100%;
}

.practice-left{
  width:60%;
  padding:32px 24px;
  border-right: 1px solid lightgray;
}
.practice-left img{
  width:100%;
  padding-bottom:32px;
}
.practice-left p{
  padding:24px 0;
}

.practice-right{
  width:40%;
  padding-top:16px;
}

.practice-item{
  display:flex;
  flex-direction:row;
  align-items:center;
  padding:16px;
  border-bottom: 1px solid lightgray;
}
.practice-item img{
  width:35%;
}
.practice-item .text-contain{
  width:65%;
  padding-left:16px;
}

.practice-item p{
  padding:8px 0;
}

/* Third Content Area */

.start-learn{
  background-color:lightgray;
  padding-left:72px;
  padding-right:40px;
}

.start-learn-heading h1{
  text-align:center;
  padding:32px 0;
}

.row-1{
  display:flex;
  flex-direction:row;
}

.learn-item{
  background-color:white;
  margin-right:32px;
  margin-bottom:32px;
  padding-bottom:24px;
}

.learn-item div{
  padding-left:16px;
}

.learn-item img{
  height:45%;
  width:100%;
}

.learn-item p{
  padding:8px 0;
}

.learn-item h3{
  padding-top:16px;
}

/* Forth Content Area */
.thesis{
  display:flex;
  flex-direction: row;
  padding:32px 0;
}

.thesis-section h1{
  text-align: center;
  padding-top:32px;
}

.left-thesis video{
  width:100%;
}

.left-thesis{
  width:60%;
  margin:0 24px;
}

.left-thesis h3{
  padding-bottom: 8px;
  padding-top:24px;
}

.right-thesis{
  width:40%;
}

.back-grey{
background-color: lightgray;
}

.no-border{
  border: none;
}
/* Footer */
footer{
  font-size: .75em;
  background-color: white;
  display:flex;
  border-top: 1px solid lightgray;
  padding-top:16px;
  height:64px;
  padding-left: 24px;
  padding-right: 24px;
}

footer nav a{
  color:black;
  padding-left:16px;
}
footer .left-foot{
  flex-grow:1;
}


/* Styling for Mobile */
@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile-ban{
    display:flex;
    justify-content: space-around;
  }

  .mobile-first{
    display:block;
  }

  .mobile-first img{
    width:100%;
  }

  .mobile-first div{
    background-color: lightgray;
    padding:32px 16px;
  }
  .mobile-first .button{
    background-color: #686868;
    margin-top: 24px;
    padding:8px 0;
  }

  .mobile-first h3{
    padding-top: 32px;
  }

  .mobile-second{
    display:block;
    padding: 16px 16px 32px 16px;
  }

  .mobile-second img{
    width:100%;
  }

.text-contain{
  padding-top:16px;
  padding-left:16px;
}

.text-contain p{
  padding:8px 0;
}

.bottom-padding{
  padding-bottom:64px;
}

.mobile-third{
  display:block;
  margin-left:16px;
  margin-right:16px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding:32px 0;
}

.mobile-third h1{
  text-align:center;
  padding-bottom:16px;
}

.m-button{
  padding:16px 0 24px 16px;
  background-color: lightgrey;
  margin-bottom:8px;
}

.mobile-forth{
  display:block;
  margin:0 auto;
  text-align: center;
  padding-bottom:24px;
}

.mobile-forth h1{
  padding-top:32px;
  padding-bottom:16px;
}

video{
  width:100%;
}

.m-footer{
  display:block;
  text-align: center;
  padding: 16px 0;
}
