/* Global Settings */

h1{
display: block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


html {
  font-size:16px;
  font-family:helvetica,sans-serif;
}

a {
  color:dodgerblue;
  text-decoration:none;
}

/* Header and Nav Area */

  .banner{
    width: 100%;
    background-color: white;
    display:flex;
    align-items:center;
    height: 64px;
    position:fixed;
  }

  .leftnav{
    flex-grow:1;
  }

  .leftnav{
    display:flex;
    align-items: center;
    padding-left:24px;
  }

  .mobile{
    display:none;
  }

  .banner nav a{
    padding-right:16px;
    color:black;
  }
  .banner nav{
    padding-right:8px;
  }

/* Content Area */

.topdivpush{
  height:64px;
}

/* First Content Area */
.learn{
  display:flex;
  background-color: lightgray;
}

.rightlearn{
display:flex;
flex-direction: column;
justify-content: center;
margin-right:20px;
}

.learn img{
  width:60%;
  padding: 32px 24px;
}

.button{
display:flex;
justify-content: center;
padding:8px 0;
background-color: gray;
color:white;
}

/* Second Content Area */



/* Footer */


/* Styling for Mobile */
@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile-ban{
    display:flex;
    justify-content: space-around;
  }

  .mobile-first{
    display:block;
  }

  .mobile-first img{
    width:100%;
  }

  .mobile-first div{
    background-color: lightgray;
    padding:32px 16px;
  }
  .mobile-first .button{
    background-color: #686868;
    margin-top: 24px;
    padding:8px 0;
  }

  .mobile-first p{
    padding-top: 32px;
  }

  .mobile-second{
    display:block;
    padding: 16px 16px 32px 16px;

  }

  .mobile-second img{
    width:100%;
  }

.text-contain{
  padding-top:16px;
  padding-left:16px;
}

.bottom-padding{
  padding-bottom:64px;
}

.mobile-third{
  display:block;
  margin-left:16px;
  margin-right:16px;
}

.mobile-third h1{
  text-align:center;
  padding-top:32px;
  padding-bottom:16px;

}

.m-button{
  padding:16px 0 24px 16px;
  background-color: lightgrey;
  margin-bottom:8px;
}

.mobile-forth{
  display:block;
  margin:0 auto;
  text-align: center;
  padding-bottom:24px;
}

.mobile-forth h1{
  padding-top:32px;
  padding-bottom:16px;
}

video{
  width:100%;
}

.m-footer{
  display:block;
  text-align: center;
  padding: 16px 0;
}
